<section class="home-section login-gradient">
    <div class="recuperar-container">
      <h2>Recuperar Contraseña</h2>
  
      <form (ngSubmit)="enviarRecuperacion()" #formRecuperar="ngForm" class="form-recuperar">
        <label for="correo">Correo electrónico registrado</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="correo" required placeholder="ejemplo@correo.com" />
  
        <button type="submit" [disabled]="!formRecuperar.valid">Enviar enlace</button>
      </form>
  
      <div *ngIf="mensaje" class="mensaje-confirmacion">
        {{ mensaje }}
      </div>
    </div>
  </section>